<a href="https://colab.research.google.com/github/ritik3000/Image_vectors/blob/main/Feature_extractor.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
import pandas as pd
import numpy as np
import json

In [ ]:
import pickle
pickle_in = open("/content/drive/My Drive/head.pickle","rb")
df = pickle.load(pickle_in)

In [ ]:
my_sheet=pd.read_csv('/content/drive/My Drive/tyroo_taxonomy_map.csv')

In [ ]:
import nltk
nltk.download('brown')
import nltk
nltk.download('punkt')
import nltk
nltk.download('averaged_perceptron_tagger')

[nltk_data] Downloading package brown to /root/nltk_data...
[nltk_data]   Package brown is already up-to-date!
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

True

In [ ]:
def textBlob_feature_extraction(text): 
        blob = TextBlob(text)
        return blob.noun_phrases

In [ ]:
def main_phrase(a):  
  z=textBlob_feature_extraction(df.iloc[a]['title'])
  y=textBlob_feature_extraction(df.iloc[a]['description'])
  arr=[]
  for i in range(0,len(z)):
    for j in range(0,len(y)):
      arr.append((z[i],y[j],fuzz.token_sort_ratio(z[i],y[j])))
      arr.sort(key = lambda x: x[2],reverse=True)
      arr=arr[:3] 
  return arr

In [ ]:
def extract_NN(sent):
    grammar = r"""
    NBAR:
        # Nouns and Adjectives, terminated with Nouns
        {<JJ>*<NN.*>*<NN.*>}

    NP:
        {<NBAR>}
        # Above, connected with in/of/etc...
        {<NBAR><IN><NBAR>}
    """
    chunker = nltk.RegexpParser(grammar)
    ne = set()
    chunk = chunker.parse(nltk.pos_tag(nltk.word_tokenize(sent)))
    for tree in chunk.subtrees(filter=lambda t: t.label() == 'NP'):
        ne.add(' '.join([child[0] for child in tree.leaves()]))
    return ne

In [ ]:
ff=df[df['category_3']=='Pants']
pf=ff[:20]

In [ ]:
arr=[]
for i in range(0,len(pf)):
  a=pf.iloc[i]['title'].rfind('-')
  arr.append(pf.iloc[i]['title'][0:a])
noun_phrases=[]
for i in range(0,len(arr)):
  noun_phrases.append(extract_NN(arr[i]))
final=[]
for i in range(0,len(noun_phrases)):
  final.append(max(noun_phrases[i]))

In [ ]:
pf['final_np']=final

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
fp=pf[['title','description','final_np','category_3']]

In [ ]:
def func(df):
  p=0
  brand_name=df[0]['brand']
  for i in range(0,len(df)):
    y=max(df[i]['discount_percentage'],y)
    if(df[i]['brand']==brand_name):
      p+=1
  if y>=30:
  	print("upto "+ str(y) + "% off")
  elif(p==len(df)):
    print("exclusive offer on "+str(brand_name))
  elif

SyntaxError: ignored

In [ ]:
lp=df.to_dict(orient='record')

In [ ]:
lp[1]

{'account_id': 2277,
 'brand': 'Havaianas',
 'category_1': 'Apparel & Accessories',
 'category_2': 'Shoes',
 'category_3': 'Athletic Shoes & Sneakers',
 'color': 'Red',
 'description': "Brazil's original and authentic flip-flops, designed for adults in 1998 to celebrate Brazil's part in the World Cup, are now adapted for toddlers, this red colored flip flops from Havaianas with a strap around the heel to better secure the foot.",
 'discount_percentage': 0.0,
 'features': ['brazil logo',
  'greek key pattern',
  'strap flip flops',
  'red',
  'original',
  'authentic',
  'flip',
  'flops',
  'part',
  'world',
  'toddlers',
  'red',
  'colored',
  'flip flops',
  'havaianas',
  'strap',
  'heel',
  'secure',
  'foot'],
 'gender': 'male',
 'sku_id': '4140577-APRICOT',
 'title': 'Brazil Logo with Greek Key Pattern Strap Flip Flops - Red'}

In [ ]:
my_sheet

                  affinity_category  ... category_7
0            Animals & Pet Supplies  ...        NaN
1                      Live Animals  ...        NaN
2                      Pet Supplies  ...        NaN
3                     Bird Supplies  ...        NaN
4             Bird Cage Accessories  ...        NaN
...                             ...  ...        ...
6211  Watercraft Fuel Tanks & Parts  ...        NaN
6212            Watercraft Lighting  ...        NaN
6213      Watercraft Steering Parts  ...        NaN
6214     Watercraft Steering Cables  ...        NaN
6215     Watercraft Steering Wheels  ...        NaN

[6216 rows x 8 columns]

In [ ]:
import nltk
from nltk.stem import WordNetLemmatizer 

# Init the Wordnet Lemmatizer
lemmatizer = WordNetLemmatizer()

In [ ]:
def()
word_list = nltk.word_tokenize(df.iloc[0]['title'])
print(word_list)
#> ['The', 'striped', 'bats', 'are', 'hanging', 'on', 'their', 'feet', 'for', 'best']

# Lemmatize list of words and join
lemmatized_output = ' '.join([lemmatizer.lemmatize(w) for w in word_list])
print(lemmatized_output)

['Brand', 'Logo', 'Printed', 'Strap', 'Round', 'Toe', 'Flip', 'Flops', '-', 'Blue']
Brand Logo Printed Strap Round Toe Flip Flops - Blue

In [ ]:
import nltk
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Unzipping corpora/wordnet.zip.

True

In [ ]:
from nltk.corpus import stopwords 
from nltk.stem.wordnet import WordNetLemmatizer
import string
stop = set(stopwords.words('english'))
exclude = set(string.punctuation) 
lemma = WordNetLemmatizer()
def clean(doc):
     stop_free = " ".join([i for i in doc.lower().split() if i not in stop])
     punc_free = ''.join(ch for ch in stop_free if ch not in exclude)
     normalized = " ".join(lemma.lemmatize(word) for word in punc_free.split())
     return normalized

In [ ]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [ ]:
y=clean(df.iloc[3]['title'])

In [ ]:
y

'short sleeve striped pattern lurex fashion knit dress blue'

In [ ]:
extract_NN(y)

{'pattern lurex fashion knit dress blue', 'short sleeve'}